*{
    margin: 0;
    padding: 0;
}
.navigation{
    display:flex;    
}
.flex-container{
    list-style:none;
    display: inline-flex;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom:25px;
    flex-wrap: wrap;

    
}
.flex-item{
    margin-right: 65px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    /* padding-top: 26px;
    padding-bottom:25px; */
    text-transform: uppercase;
    color: red;
   

}
.flex-item-last{
    margin-right:0
}
.flex-item-link{
    text-decoration: none;
    color:red;
}
.picture{
    /* position: relative; понимаю смысл, как : "вставить контент не нарушая макет страницы", но в данном случае почему-то ничего не меняет*/
    height:789px;
    /* width: 100%; */
    overflow: hidden;

}
img{
    width: 100%;
    height: auto; 
    /* overflow: hidden смысл команд +- понятен, и человек чей пример я нашёл в инете их зачем то сюда засунул, но в моем случае я не могу понять меняют ли они что-то и нужны ли вообще*/
} 
.container{
    width:1125px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
.song-title{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 10px;
    font-family: sans-serif; /* я не знаю почему такие гадости с этим шрифтом, Montserrat не выбирается(*/
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    

}
.text-paragraph{
    margin-top: 28px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}
.button{
    border-radius: 4px;
    border-color:red;
    padding: 18px 43px;
    margin: 0 auto;
    margin-top: 66px;
    display: flex;
    background-color: red;   
    color:white;
    /* font-family: sans-serif;  */
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.copyright{
    text-align: right;
    margin-top: 82px;
    margin-right: 38px;
    margin-bottom: 29px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px; 
    line-height: 20px;
    letter-spacing: 2.4px;   
}