body{
    font-family: sans-serif;
    font-size: 45px;
    background: black;
    color: orange;
    overflow: hidden;
}
.content{
    position: absolute;
    transform:  perspective(300px) rotateX(25deg); 
    max-width: 650px;
    bottom: 0;
    left: 30%;
}
@keyframes move-top{
    0%{
     transform: translateY(100%);
    }
    100%{
     transform: translateY(-80%);
        
    }
}
.container{
    margin: 0 auto;
    perspective: 150px;
}
.animation{
    animation:move-top 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-play-state: paused; */
}
.animation-heading{
    margin-bottom: 50px;
    text-align: center;

}
.animation-text{
    margin-bottom: 55px;
  
} 

