body{
  font-family: "Roboto", sans-serif;
  background: url(../img/background-milan.png) no-repeat;
  background-size: cover;
  font-size: 18px;
  line-height: 18px;
}
.container {
  width: 1030px;
  margin: auto;
}
.hat {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
}
.logo {
  display: flex;
  height: 50px;
}
.logo-img {
  width: 53px;
  height: 47px;
}
.logo:hover .logo-img {
  content: url(../img/logo-hover.png);
}

.logo:hover .logo-title {
  color: #f26522;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 8px;
}
.logo-title {
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.logo-title:nth-child(1) {
  font-size: 29px;
  line-height: 29px;
}
.contact-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.contact-information a {
  text-decoration: none;
  color: white;
}
.contact-information:hover a {
  color: #f26522;
}
.content {
  margin-top: 22px;
}
.gallery {
  display: grid;
  row-gap: 37px;
  column-gap: 53px;
  grid-template-columns: repeat(3, 1fr);
}
.gallery-block {
  display: flex;
  flex-direction: column;
  position: relative;
}
.gallery-img {
  width: 300px;
  height: 220px;
  position: relative;
  background: linear-gradient(to bottom, white, brown);
  padding: 4px;
}
.gallery-description {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  text-align: center;
}
.gallery-block:hover .gallery-description {
  color: #f26522;
}
.img-hover {
  position: absolute;
  background: #f26522;
  top: 214px;
  left: 5.5px;
  width: 299px;
  height: 55px;
  display: flex;
  padding: 7px 37px 12px 16px;
  box-sizing: border-box;
  justify-content: space-between;
  opacity: 0;
  transition: 0.5s;
}
.gallery-block:nth-child(2) .img-hover,
.gallery-block:nth-child(4) .img-hover,
.gallery-block:nth-child(5) .img-hover {
  width: 297.3px;
}
.gallery-block:last-child {
  left: 6px;
}
.gallery-block:hover .img-hover {
  content: "";
  opacity: 1;
  top: 167.5px;
}

.hover-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.hover-upper {
  font-size: 10px;
  line-height: 10px;
}
.hover-main {
  font-size: 20px;
  line-height: 20px;
  margin-top: 8px;
}
.hover-details {
  color: white;
  align-self: flex-end;
  font-size: 14px;
  line-height: 14px;
  position: relative;
}
.hover-details::after {
  position: absolute;
  content: "";
  width: calc(10px / 1.41);
  height: calc(10px / 1.41);
  border-top: 1px solid white;
  border-right: 1px solid white;
  right: -16px;
  top: calc(100% - 10px);
  transform: rotate(45deg);
}
.basement {
  margin-top: 49px;
  margin-bottom: 15px;
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 12px;
}
