@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.hat{
    margin-top: 55px;
}
.container{
    width:1280px;
    margin: 0 auto;

}
.site-name{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    line-height: 94px;
}
.skyblue-text{
    color: skyblue;
}
.nav{
    margin-top: 38px;
}
.nav-menu{
    display: flex;
    list-style:none ;
    justify-content: center;
    background: #35444F;
    margin: 0;
}
.nav-menu-item{
  padding:26px 35px 19px 35px;
  border-left:1px solid #FFFFFF;
}
.nav-menu-item-last{
    border-right:1px solid #FFFFFF ;
}
.nav-menu-link{
    text-decoration: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
}
.content{
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}
.sidebar{
    width: 344px;
}
.sidebar-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    margin-top: 0;
    padding-left: 0;

}
.sidebar-link{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    color: #485863; 
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    line-height: 27px; 
    padding: 26px 0 26px 43px;
}
.sidebar-link:hover{
    color:  black;
    padding-left: 70px;
    background: #DBDBDB;
}
.content-info{
    width: 885px;
}
.info-ramda{
    padding: 74px 267px 74px 296px;
    border:1px solid #000000;
}
.info-text{
    margin-top: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
}
.basement{
    margin-top: 54px;
    display: flex;
}
.basement-nav{
    display: flex;
    background:  rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}
.basement-menu{
    display: flex;
    list-style: none;
    /* box-sizing: border-box; */
    width: 968px;
    justify-content: center;
    margin: 0; 
    padding: 0;
  
}
.basement-item{
    padding-bottom: 8px;

}
.basement-link{
    display:inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 12px;
    margin-left: 15px;
    margin-right: 15px;
}
.basement-link:hover{
    color: cadetblue;
    border-bottom: 2px solid cadetblue;
    padding-bottom: 10px;

}
.copyright{
    background:  rgba(99, 105, 110, 0.48);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: end;
    padding-right: 40px;
}