body{
    font-family: 'Ubuntu', sans-serif;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
}

.container{
    width: 1055px;
    /* max-width: 1055px;  объясните пожалуйста стоит ли тут использовать max-width вместо width и почему (ширину вцелом задаю для того что бы на широких разрешениях контент хедера не расползался*/
}
.hat-flex{
    display: flex;  
    justify-content: space-between;
    padding: 17px 0;
}
.hat{
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
}
.site-name{
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}
.site-name:hover{
    color: green;
    transition: 0.3s;

}
.flex-wrapper{
    display: flex;
    align-items: center;
}
.header-logo{
    padding-right: 25px;
}
.header-text{
    font-size: 14px;
    line-height: 14px;
    border-left: 1px solid white;
    padding: 2px 0 2px 25px;
    color: white;
}
.header-link{
    text-decoration: none;
    color: inherit;
}
.header-link:hover{
    color: green;
    text-decoration: underline;
    transition: 0.3s;
}
.header-logo:hover .header-logo__img{
    fill: green;
    transition: 0.3s;
}
.signup-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* объясните как лучше было центрировать по горизонтали, потому что по вертикали понятно, что можно было автомаржин задать */
    width: 444px;
    padding: 31px 60px 38px;
    background: white;
    box-sizing: border-box;
}
.signup-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 14px;
}
.signup-title_text{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.signup-title_text::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 29px;
    width: 18px;
    height: 18px;
    background: #3CB878;
}
.signup-title_link{
    text-decoration: none;
    color:green;
    font-size: 14px;
    line-height: 14px;
}
.signup-title_link:hover{
    text-decoration: underline;
    transition: 0.3s;
}
.signup-socials{
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}
.signup-socials_link{
    text-decoration: none;
    color: white;
    background:  #305DB8;
    border-radius: 4px;
    padding: 12px 22px 17px 17px;
    display: flex;
    align-items: center;
}
.signup-socials_link:nth-child(2){
    background: #DF4A32;
}
.signup-socials_link:hover{
    background:#022263;
    transition: 0.3s;
}
.signup-socials_link:nth-child(2):hover{
    background: #AB1F09;
}
.signup-socials_link svg{
    padding-right: 18px;
    border-right:1px solid rgba(0, 0, 0, 0.1);
    margin-right: 18px;
}
.signup-optionmarker{
    display: block;
    text-align: center;
    color: #848484;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    margin-bottom: 11px;
}
.signup-optionmarker::before{
    position: absolute;
    content: "";
    width: 152px;   
    height: 1px;
    background: #F2F2F2;
    left: 0px;
    top: 8px;
}
.signup-optionmarker::after{
    position: absolute;
    content: "";
    width: 152px;   
    height: 1px;
    background: #F2F2F2;
    right: 0px;
    top: 8px;
}
.input-wrapper{
    display: flex;
    margin-bottom: 12px;
}
.signup-input{
  flex-grow: 1;
  padding:14px 0 16px 20px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  color: #434343;
}
.signup-input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
.policy-label{
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 33px;
    position: relative;
}
.policy-link{
    text-decoration: none;
    color: green;
}
.policy-checkbox{
    position: absolute;
    opacity: 0;
}
.checkbox-style{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: -2px;
    border: 1px solid #F2F2F2;
}
.policy-div{
    margin-bottom: 20px;
}
.policy-div input:checked ~ .checkbox-style{
    content: url(../img/svg/tick.svg);

}
.policy-link:hover , 
.policy-link:active{
    text-decoration: underline;
}
.signup-submit__label{
    width: 100%;
}
.signup-submit__input{
    display: block;
    width: 100%;
    text-align: center;
    padding:16px 0;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    line-height: 16px;
    font-family: inherit;
    border: none;
}
.signup-submit__input:hover{
    background: #01813F;
    transition: 0.3s;
}
