html{
  scroll-behavior: smooth;
}
.slideToggle{
  display: inline-block;
  text-decoration: none;
  padding: 20px 50px;
  background-color: blue;
  color: white;
  text-transform: capitalize;
 
}
.slideToggle-wrapper{
  display: flex;
  justify-content: center;
}
.btn{
  background-color: green;
  padding: 12px 40px ; 
  position: fixed;
  top: 80%;
  left: calc(100% - 130px);
  display: none;
  text-decoration: none;
  color: white;
}
.any-text-600 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.any-text-400 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.any-text-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.hat {
  display: flex;
  background: #313131;
  justify-content: space-between;
}
.site-logo {
  display: flex; 
  align-items: center;
}
.logo-img {
  padding: 22px 24px;
  width: 27px;
  height: 27px;
}
.logo-text {
  font-size: 22px;
  line-height: 30px;
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 22px;
  color: white;
}
.nav-menu {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  padding: 27px 17px;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #14b9d5;
}
.searchbar {
  display: inline-block;
  background: url("../images/search.png") no-repeat, black;
  background-position: center;
  width: 68px;
}
.hero {
  background-image: url(../images/hero-background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.hero-title {
  color: white;
  font-size: 27px;
  line-height: 37px;
  padding-top: 164px;
}
.hero-button {
  text-decoration: none;
  color: white;
  display: inline-block;
  background: #000;
  font-size: 18px;
  line-height: 25px;
  padding: 16px 19px;
  margin-top: 44px;
  border-radius: 4px;
  margin-bottom: 74px;
}
.margin-right-20px {
  margin-right: 20px;
}
.green {
  background: #89ca62;
}
.blue {
  background: #14b9d5;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 925px;
  align-content: space-between;
}
.posts {
  padding-top: 49px;
  background: #f2f2f2;
}
.posts-heading {
  font-size: 27px;
  line-height: 37px;
  color: #14b9d5;
  text-align: center;
  text-transform: uppercase;
}
.gallery-block {
  text-align: center;
  width: 370px;
  background: white;
}
.posts-gallery {
  margin-top: 52px;
}
.posts-description {
  display: block;
  font-size: 18px;
  line-height: 25px;
  padding: 21px 15px;
}
.gallery-block:not(:last-child) {
  margin-bottom: 29px;
}
.gallery-block:last-child {
  margin-bottom: 74px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1170px 1fr;
  grid-template-areas:
    "item1 item1 item1"
    "item2 item2 item2"
    "item3 item3 item3"
    "item4 item4 item4"
    "item5 item6 item7"
  ;
}
.grid-child:nth-child(1) {
  grid-area: item1;
  text-align: center;
  background: url(../images/clients-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 588px;
  background-position-y: -187px;
}
.grid-child:nth-child(2) {
  grid-area: item2;
  text-align: center;
}
.grid-child:nth-child(3) {
  grid-area: item3;
  width: 100%;
  display: grid;
  /* justify-content: stretch; */
  justify-items: stretch;
  grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
  height: 190px;
}
.grid-child:nth-child(4) {
  grid-area: item4;
  text-align: center;
}
.grid-child:nth-child(5) {
  grid-area: item6;
  display: grid;
  row-gap: 46px;
  column-gap: 60px;
  grid-template-areas: 
  "item1 item1 item1 item2"
  "item3 item3 item4 item4"
  "item5 item5 item6 item6"
  "item7 item8 item8 item8"
  ;
  margin-bottom: 77px;
}
.news-heading-1-3-8{
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  margin: 0;
}
.news-heading-2-7{
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  padding-top: 14px;
  text-align: center;
}
.news-heading-4--6{
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  padding-right: 13px;
}
.news-text{
  margin-top: 15px;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;

}
.news-text-3--6{
  margin-top: 15px;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
}
.news-description-1-8{
  text-align: end;
  padding-right: 24px;
  padding-top: 30px;
  padding-bottom: 28px;
}
.news-description-3--6{
  text-align: end;
  padding-top: 13px;
  padding-right: 14px;
  padding-left: 13px;
}
.news-block{
  background: #F9F7F7;
}
.news-block:nth-child(1){
  display: flex;
  /* width: 856px; */
  grid-area: item1;
}
.news-block:nth-child(2){
  grid-area: item2;
  margin-left: -25px;
}
.news-block:nth-child(3){
  grid-area: item3;
}
.news-block:nth-child(4){
  grid-area: item4;
}
.news-block:nth-child(5){
  grid-area: item5;
}
.news-block:nth-child(6){
  grid-area: item6;
}
.news-block:nth-child(7){
  grid-area: item7;
}
.news-block:nth-child(8){
  grid-area: item8;
  display: flex;
 
  margin-left: -25px;
}

.clients-heading {
  font-size: 32px;
  line-height: 44px;
  color: white;
  margin-top: 106px;
  margin-bottom: 87px;
  text-transform: uppercase;
}
.blue-line {
  width: 60px;
  height: 3px;
  background: #18b4cf;
  margin-bottom: 106px;
}
.clients-grid {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 56px;
  margin-bottom: 203px;
}
.gallery-heading {
  color: #18b4cf;
  font-size: 27px;
  line-height: 37px;
  display: inline-block;
  margin: 50px 0;
}
.basement{
  background: black;
  padding-top: 29px;
  padding-bottom: 27px;
}
.copyright{
  color: white;
  font-size: 13px;
  line-height: 13px;
}
.bottom-logo{
  display: flex;
  align-items: flex-start;
}
.bottom-grid{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

